body {
  text-align: center;
  font-family: Helvetica;
}

.Background-image {
  font-family: Helvetica;
  background-image: url('../images/building.png');
  color: white;
}

.Background-image h1 {
  font-size: 70px;
}

a {
  color: inherit;
 }

p {
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 23px;
  font-weight: bold;
}

h5 {
  font-size: 14px;
}

#footer {
  text-align: left;
  background-color: dimgray;
  color: white;
}

#copyright {
  font-size: 11px;
}
